<!-- Produtos Section -->
<section id="products" class="products py-5" >
  <div class="container text-center title-container">
    <h2 class="section-title">{{ 'PRODUCTS.TITLE' | translate }}</h2>
    <div class="line-under-title mb-5"></div>
  </div>
  <!-- Conteúdo dos produtos aqui -->
  <div class="container h-100">
    <div class="row h-100 align-items-stretch justify-content-center">
      <!-- Coluna da esquerda: Portas -->
      <div id="doors-section" class="col-md-6 col-lg-4">
        <div class="product-box position-relative product-box-large">
          <a routerLink="/doors" class="product-link">
            <img src="/assets/images/Portas/porta-menu.webp" class="img-fluid" alt="Portas">
          </a>
          <h3><a routerLink="/doors" class="product-link">{{ 'PRODUCTS.DOORS' | translate }}</a></h3>
        </div>
      </div>

      <!-- Coluna central: Cozinhas em cima, Armários em baixo -->
      <div id="kitchens-wardrobes-section" class="col-md-6 col-lg-4 d-flex flex-column" >
        <div class="product-box position-relative product-box-half mb-4">
          <a routerLink="/kitchens" class="product-link">
            <img src="/assets/images/Cozinhas/c11.webp" class="img-fluid" alt="Cozinhas">
          </a>
          <h3><a routerLink="/kitchens" class="product-link">{{ 'PRODUCTS.KITCHENS' | translate }}</a></h3>
        </div>
        <div class="product-box position-relative product-box-half">
          <a routerLink="/wardrobes" class="product-link">
            <img src="/assets/images/Armários/IMG_1160.webp" class="img-fluid" alt="Armários">
          </a>
          <h3><a routerLink="/wardrobes" class="product-link">{{ 'PRODUCTS.WARDROBES' | translate }}</a></h3>
        </div>
      </div>

      <!-- Coluna da direita: Carpintaria Geral -->
      <div id="general-carpentry-section" class="col-md-6 col-lg-4"  >
        <div class="product-box position-relative product-box-large">
          <a routerLink="/general-carpentry" class="product-link">
            <img src="/assets/images/Carpintaria-geral/IMG_1145.webp" class="img-fluid" alt="Carpintaria Geral">
          </a>
          <h3><a routerLink="/general-carpentry" class="product-link">{{ 'PRODUCTS.GENERAL_CARPENTRY' | translate }}</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
