<!-- Produtos Section -->
<section id="products" class="products py-5" >
  <div class="container text-center title-container">
    <h2 class="section-title">{{ 'PRODUCTS.TITLE' | translate }}</h2>
    <div class="line-under-title mb-5"></div>
  </div>
  <!-- Conteúdo dos produtos aqui -->
  <div class="container h-100">
    <div class="row h-100 align-items-stretch justify-content-center">
      <!-- Coluna da esquerda: Portas -->
      <div id="doors-section" class="col-md-6 col-lg-4">
        <div class="product-box position-relative product-box-large">
          <a routerLink="/doors" class="product-link">
            <img src="/assets/images/Portas/drf-4.jpg" class="img-fluid" alt="Portas"  sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw">
          </a>
          <h3><a routerLink="/doors" class="product-link">{{ 'PRODUCTS.DOORS' | translate }}</a></h3>
        </div>
      </div>

      <!-- Coluna central: Cozinhas em cima, Armarios em baixo -->
      <div id="kitchens-wardrobes-section" class="col-md-6 col-lg-4 d-flex flex-column" >
        <div class="product-box position-relative product-box-half mb-4">
          <a routerLink="/kitchens" class="product-link">
            <img src="https://i.imghippo.com/files/TVM5499ivc.png" class="img-fluid" alt="Cozinhas"  sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw">
          </a>
          <h3><a routerLink="/kitchens" class="product-link">{{ 'PRODUCTS.KITCHENS' | translate }}</a></h3>
        </div>
        <div class="product-box position-relative product-box-half">
          <a routerLink="/wardrobes" class="product-link">
            <img src="https://i.imghippo.com/files/CIYA7525I.JPG" class="img-fluid" alt="Armários"  sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw">
          </a>
          <h3><a routerLink="/wardrobes" class="product-link">{{ 'PRODUCTS.WARDROBES' | translate }}</a></h3>
        </div>
      </div>

      <!-- Coluna da direita: Carpintaria Geral -->
      <div id="general-carpentry-section" class="col-md-6 col-lg-4"  >
        <div class="product-box position-relative product-box-large">
          <a routerLink="/general-carpentry" class="product-link">
            <img src="https://i.ibb.co/xK4FcqVR/nc-2.jpg" class="img-fluid" alt="Carpintaria Geral"  sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw">
          </a>
          <h3><a routerLink="/general-carpentry" class="product-link">{{ 'PRODUCTS.GENERAL_CARPENTRY' | translate }}</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
