/* Produtos */
.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;
  margin-bottom: 10px;
  position: relative;
}

.line-under-title {
  width: 80px;
  height: 2px;
  background-color: #333;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-link {
  color: inherit;
  text-decoration: none;
}

.product-link:hover {
  color: #e8d5ac;
  text-decoration: underline;
}

.products h3 {
  font-size: 1.4rem;
  margin-top: 10px;
  color: #333;
}

.products img {
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.products .product-box {
  position: relative;
  margin-bottom: 20px;
}

.product-box-large {
  height: 545px;
}

.product-box-half {
  height: calc(545px / 2 - 10px);
}

.products img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
}

.products .product-box:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .products .product-box img {
    height: 300px;
    object-fit: cover;
  }

  .products .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
  }

  .products h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .products .product-box {
    margin-bottom: 30px;
  }

  .product-box-large {
    height: 200px;
  }

  .product-box-half {
    height: 200px;
  }

  .products .product-box img {
    height: 100%;
    object-fit: cover;
  }

  .products h3 {
    font-size: 1.2rem;
  }
}
