<!-- Seção Talk to Us -->
<section id="talktous" class="talktous-section container-fluid">
  <div class="row align-items-center flex-column-reverse flex-lg-row">
    <!-- Texto da Seção -->
    <div class="col-lg-6 col-md-12 text-container p-5 order-lg-1" data-aos="fade-up">
      <h2 class="talktous-title mb-4">{{ 'TALK_TO_US.TITLE' | translate }}</h2>
      <hr class="divider">

      <p class="talktous-description">
        {{ 'TALK_TO_US.DESCRIPTION' | translate }}
      </p>
      <ul class="talktous-list">
        <li>{{ 'TALK_TO_US.LIST.ITEM1' | translate }}</li>
        <li>{{ 'TALK_TO_US.LIST.ITEM2' | translate }}</li>
        <li>{{ 'TALK_TO_US.LIST.ITEM3' | translate }}</li>
        <li>{{ 'TALK_TO_US.LIST.ITEM4' | translate }}</li>
        <li>{{ 'TALK_TO_US.LIST.ITEM5' | translate }}</li>
      </ul>
      <a href="#footer" class="btn btn-primary mt-3 talktous-button">{{ 'TALK_TO_US.BUTTON' | translate }}</a>
    </div>

    <!-- Imagem da Seção -->
    <div class="col-lg-6 col-md-12 p-0 image-container order-lg-2" data-aos="fade-up">
      <div class="premium-image-wrapper image-overlay-wrapper">
        <img src="/assets/images/Carpintaria-geral/2.webp" alt="Trabalhador na carpintaria" class="premium-bio-image talktous-image">
        <div class="image-overlay"></div>
      </div>
    </div>
  </div>
</section>
