<!-- Seção Talk to Us -->
<section id="talktous" class="talktous-section container-fluid">
  <div class="row align-items-center">
    <!-- Texto da Seção -->
    <div class="col-lg-6 col-md-12 text-container p-5" data-aos="fade-right">
      <h2 class="talktous-title mb-4">Orçamento Personalizado para Projetos Exclusivos em Madeira</h2>
      <p class="talktous-description">
        Somos especialistas em carpintaria personalizada. Fale conosco e obtenha um orçamento sem compromisso para o seu projeto dos sonhos.
      </p>
      <ul class="talktous-list">
        <li>Design de Interiores Personalizado</li>
        <li>Mobilário Feito Sob Medida</li>
        <li>Mais de 20 Anos de Experiência</li>
        <li>Ofício Artesanal com Excelência</li>
        <li>Qualidade Garantida</li>
      </ul>
      <a href="#contact" class="btn btn-primary mt-3 talktous-button">Fale Connosco</a>
    </div>

    <!-- Imagem da Seção -->
    <div class="col-lg-6 col-md-12 p-0 image-container" data-aos="fade-left">
      <div class="premium-image-wrapper image-overlay-wrapper">
        <img src="/assets/images/Carpintaria-geral/2.webp" alt="Trabalhador na carpintaria" class="premium-bio-image talktous-image">
        <div class="image-overlay"></div>
      </div>
    </div>
  </div>
</section>
