<!-- Footer -->
<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <!-- Logo e Descrição -->
      <div class="col-md-4 mb-4">
        <img src="/assets/images/logonc.webp" alt="Nuno Cardoso Carpintaria" class="footer-logo mb-3">
        <p class="footer-description">
          Oferecemos soluções de carpintaria de alta qualidade, combinando criatividade e precisão para garantir a satisfação de nossos clientes em cada projeto.
        </p>
      </div>

      <!-- Links Rápidos -->
      <div class="col-md-4 mb-4 text-center">
        <h5 class="footer-title">Links Rápidos</h5>
        <ul class="list-unstyled footer-links">
          <li><a href="/">Início</a></li>
          <li><a href="/empresa">Empresa</a></li>
          <li><a href="/contactos">Contactos</a></li>
        </ul>
      </div>

      <!-- Contactos -->
      <div class="col-md-4 mb-4">
        <h5 class="footer-title">Contactos</h5>
        <ul class="list-unstyled footer-contact">
          <li><i class="fas fa-map-marker-alt"></i> Rua da Carpintaria, 123, Portugal</li>
          <li><i class="fas fa-phone-alt"></i> +351 123 456 789</li>
          <li><i class="fas fa-envelope"></i> <a href="mailto:info@nunocardosocarpintaria.com">infonunocardosocarpintaria.com</a></li>
        </ul>
      </div>
    </div>

    <div class="row mt-4">
      <!-- Redes Sociais -->
      <div class="col text-center">
        <a href="#" class="footer-social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer-social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="footer-social-icon"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="row mt-4">
      <!-- Copyright -->
      <div class="col text-center">
        <p class="footer-copyright">
          &copy; 2024 Nuno Cardoso Carpintaria. Todos os direitos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>
