.footer {
  background: #d3cbb8;
  color: #6b4f36;
  padding: 50px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.footer-logo {
  width: 130px;
}

.footer-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #6b4f36;
}

.footer-title {
  color: #6b4f36;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
}

.footer-links,
.footer-contact {
  list-style: none;
  padding: 0;
}

.footer-links li a {
  color: #6b4f36;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links li a:hover {
  color: #3e2a1f;
}

.footer-contact li {
  margin-bottom: 0.5rem;
  color: #6b4f36;
}

.footer-contact li a {
  color: #6b4f36;
}

.footer-social-icon {
  color: #6b4f36;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s, transform 0.3s;
}

.footer-social-icon:hover {
  color: #3e2a1f;
  transform: scale(1.2);
}

.footer-copyright {
  font-size: 0.85rem;
  color: #3e2a1f;
}

.btn-expand-map {
  color: #3e2a1f;
  font-size: 0.9rem;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.btn-expand-map:hover {
  color: #6b4f36;
  transform: scale(1.1);
}

.contact-line {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .footer-title {
    font-size: 1.2rem;
    justify-self: center;

  }
  .footer-description {
    font-size: 0.9rem;
  }
  .map-container {
    margin: 0 auto;
    width: 80%;
  }
  .contact-line {
    flex-direction: column;
    align-items: center;
  }
  .footer {
    padding: 30px 0;
  }
  .footer-logo {
    width: 100px;
  }
  .footer-social-icon {
    font-size: 1.2rem;
  }
  .btn-expand-map {
    font-size: 0.8rem;
  }
  .footer-contact li {
    text-align: center;
  }
}
