<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logonc.webp" alt="Logo" class="navbar-logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link"  href="#" >INÍCIO</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="productsDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PRODUTOS
          </a>
          <ul class="dropdown-menu" aria-labelledby="productsDropdown">
            <li><a class="dropdown-item" routerLink="/kitchens">Cozinhas</a></li>
            <li><a class="dropdown-item" routerLink="/wardrobes">Armários</a></li>
            <li><a class="dropdown-item" routerLink="/doors">Portas</a></li>
            <li><a class="dropdown-item" routerLink="/general-carpentry">Carpintaria Geral</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#empresa">EMPRESA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">CONTACTOS</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
