<!-- Loading Spinner -->
<div class="loading-spinner" *ngIf="isLoading">
  <img src="/assets/images/logonc.webp" alt="Logo" class="loading-logo">
  <div class="spinner"></div>
</div>

<!-- Conteúdo principal (só será mostrado quando isLoading for false) -->
<div [ngClass]="{'content-hidden': isLoading}">
  <!-- Seção de Banner -->
  <section class="banner-section position-relative">
    <div class="banner-overlay"></div>
    <img src="/assets/images/Armários/a3.webp" alt="Banner Armários" class="banner-img img-fluid">
    <div class="banner-content text-center">
      <h1 class="banner-title">{{ 'WARDROBES.TITLE' | translate }}</h1>
    </div>
  </section>

  <!-- Seção de Exposição de Fotos -->
  <section class="exposicao-fotos py-5">
    <div class="container-fluid">
      <div class="row grid">
        <ng-container *ngFor="let image of images">
          <div class="col-md-4 col-sm-6 mb-4 grid-item">
            <div class="img-container">
              <a [href]="'/assets/images/Armários/' + image" class="glightbox" data-gallery="armarios">
                <img [src]="'/assets/images/Armários/' + image" [alt]="'Armario ' + image" class="img-fluid" loading="lazy"
                >
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</div>
