.video-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-js,
.plyr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: black;
}

.plyr__control {
  display: none !important; /* Esconde os controles padrão para evitar a exibição exagerada */
}
