<!-- Seção Bio da Empresa Melhorada -->
<section id="empresa" class="bio-section container" data-aos="fade-up">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Coluna da Esquerda: Vídeo -->
      <div class="col-lg-6 col-md-12 p-0 video-container" data-aos="fade-right">
        <div class="bio-media">
          <video class="img-fluid w-100" autoplay muted loop controls>
            <source src="/assets/images/Nuno%20Cardoso%20%20%20Carpintaria%20-%20NC%20(1080p,%20h264,%20youtube).MP4" type="video/mp4">
            Seu navegador não suporta a tag de vídeo.
          </video>
        </div>
      </div>

      <!-- Coluna da Direita: Texto -->
      <div class="col-lg-6 col-md-12 text-center p-5" data-aos="fade-left">
        <div class="bio-text p-4">
          <h2 class="bio-title mb-4">A EMPRESA</h2>
          <hr class="divider">
          <p class="bio-description">
            Somos uma empresa Portuguesa fundada em 2002 e orgulhamo-nos de associar a evolução à tradição.
            Esforçamo-nos todos os dias para construir relações fortes e de confiança com os nossos clientes e fornecedores.
            <br><br>
            A nossa qualidade estende-se a todos os materiais e processos de fabrico que utilizamos. Os nossos produtos são totalmente personalizáveis e projetamos a partir das necessidades dos nossos clientes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


