<!-- Seção de Bom Design é um Bom Processo -->
<section class="good-design-process py-5">
  <div class="container-fluid">
    <div class="row">
      <!-- Texto à esquerda -->
      <div class="col-md-6 d-flex flex-column justify-content-center align-items-start text-section" data-aos="fade-right">
        <h2 class="process-title">UM BOM DESIGN <br> É UM BOM PROCESSO</h2>
        <p class="process-description">
          Cada projeto é alvo de cuidadosa atenção. A qualidade e durabilidade dos materiais utilizados em cada peça combina com a fiabilidade dos processos industriais e a dedicação do trabalho artesanal. Todos os envolvidos na produção dos nossos artigos possuem uma longa experiência e as suas mãos hábeis garantem a atenção a cada detalhe, mesmo o menos visível.
        </p>
      </div>
      <!-- Imagem à direita -->
      <div class="col-md-6 image-section" data-aos="fade-left">
        <img src="/assets/images/Cozinhas/c14.png" alt="Ferramentas artesanais" class="img-fluid">
      </div>
    </div>
  </div>
</section>
