/* Exposição de Fotos */
.exposicao-fotos {
  background-color: #f4f2ed;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Tamanho mínimo de 150px */
  grid-auto-rows: 150px; /* Tamanho base de cada linha */
  grid-gap: 10px; /* Espaço entre as imagens */
}

.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-container:hover img {
  transform: scale(1.1);
}

/* Tornando algumas imagens maiores para criar o efeito mosaico */
.img-container:nth-child(3n) {
  grid-column: span 2;
  grid-row: span 2;
}

.img-container:nth-child(5n) {
  grid-column: span 2;
}


/* Estilo responsivo para dispositivos móveis */
@media (max-width: 768px) {
  .img-container {
    margin-bottom: 15px;
  }
  .img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .exposicao-fotos h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
}
