/* Layout da seção */
.products {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colunas iguais */
  grid-template-rows: 1fr 1fr;    /* 2 linhas iguais */
  height: calc(100vh - 80px); /* 100% da altura da tela menos a altura fixa da navbar */
  width: 100vw;  /* Largura total da tela */
  gap: 5px;


}

.product-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.product-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que as imagens preencham o contêiner */
  border-radius: 10px;

}

.product-box h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.product-box:hover h3 {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Ocultar em desktop */
@media (min-width: 1025px) {
  .products {
    display: none;
  }
}
.product-link {
  color: inherit;
  text-decoration: none;
}

.product-link:hover {
  color: #e8d5ac;
  text-decoration: underline;
}