<section id="products" class="products ">
  <div class="product-box">
    <a routerLink="/general-carpentry" class="product-link">
      <img src="/assets/images/Carpintaria-geral/IMG_1145.JPG" alt="Carpintaria Geral">
      <h3><a routerLink="/general-carpentry" class="product-link">{{ 'PRODUCTS.GENERAL_CARPENTRY' | translate }}</a></h3>
    </a>
  </div>
 
  <div class="product-box">
    <a routerLink="/kitchens" class="product-link">
      <img src="/assets/images/Cozinhas/c11.png" alt="Cozinhas">
      <h3><a routerLink="/kitchens" class="product-link">{{ 'PRODUCTS.KITCHENS' | translate }}</a></h3>
    </a>
  </div>
  <div class="product-box">
    <a routerLink="/wardrobes" class="product-link">
      <img src="/assets/images/Armários/IMG_1160.JPG" alt="Armários">
      <h3><a routerLink="/wardrobes" class="product-link">{{ 'PRODUCTS.WARDROBES' | translate }}</a></h3>
    </a>
  </div> 
  <div class="product-box">
    <a routerLink="/doors" class="product-link">
      <img src="/assets/images/Portas/porta-menu.JPEG" alt="Portas">
      <h3><a routerLink="/doors" class="product-link">{{ 'PRODUCTS.DOORS' | translate }}</a></h3>
    </a>
  </div>

</section>
