/* You can add global styles to this file, and also import other style files */
body, html {
  overflow-x: hidden;
  background: linear-gradient(135deg, #f9f7f1, #e9e4d6);

}
body {
  overflow-y: hidden;
}



/*GALERIA*/
/* Seção de Banner */
.banner-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Efeito escurecido */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 2;
}

.banner-title {
  font-size: 2.3rem;
  text-transform: uppercase;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Exposição de Fotos */
.exposicao-fotos {
  background-color: #f4f2ed;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Tamanho mínimo de 150px */
  grid-auto-rows: 150px; /* Tamanho base de cada linha */
  grid-gap: 10px; /* Espaço entre as imagens */
}

.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.img-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-container:hover img {
  transform: scale(1.1);
}

/* Estilo responsivo para dispositivos móveis */
@media (max-width: 768px) {
  .img-container {
    margin-bottom: 15px;
  }
  .img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .exposicao-fotos h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .banner-title {
    font-size: 2.5rem;
  }

  .banner-section {
    height: 250px;
  }
}





