
<div>
  <!-- Seção de Banner -->
  <section class="banner-section position-relative">
    <div class="banner-overlay"></div>
    <img src="/assets/images/Carpintaria-geral/5.webp" alt="Banner Carpintaria Geral" class="banner-img img-fluid">
    <div class="banner-content text-center">
      <h1 class="banner-title">{{ 'PRODUCTS.GENERAL_CARPENTRY' | translate }}</h1>
    </div>
  </section>

  <!-- Seção de Exposição de Fotos -->
  <section class="exposicao-fotos py-5">
    <div class="container-fluid">
      <div class="row grid">
        <ng-container *ngFor="let image of images">
          <div class="col-md-4 col-sm-6 mb-4 grid-item">
            <div class="img-container">
              <a [href]="'/assets/images/Carpintaria-geral/' + image" class="glightbox" data-gallery="general-carpentry">
                <img [src]="'/assets/images/Carpintaria-geral/' + image" [alt]="'Carpintaria Geral ' + image" class="img-fluid" loading="lazy">
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</div>
