<!-- Hero Carousel Component -->
<div class="hero-container" >
  <div class="recent-works-label">
    <div class="label-content">
      <span class="recent-works-title">{{ 'HERO.RECENT_WORKS' | translate }}</span>
    </div>
  </div>

  <div id="heroCarousel" class="carousel slide hero-carousel" data-bs-ride="carousel" role="region" aria-roledescription="carousel" data-aos="fade-up">
    <div class="carousel-indicators hero-carousel-indicators">
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1 - Cozinha"></button>
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2 - Cozinha"></button>
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3 - Portas "></button>
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="3" aria-label="Slide 4 - Carpintaria geral"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/Cozinhas/IMG_1103.JPG" loading="eager" class="d-block w-100" alt="Cozinhas personalizadas">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/Cozinhas/IMG_1116.JPG" class="d-block w-100" loading="eager" alt="Cozinhas modernas">
      </div>
      <div class="carousel-item">
        <img  src="/assets/images/Portas/IMG_1134.webp" class="d-block w-100" loading="eager" alt="Portas de madeira á medida">
      </div>
      <div class="carousel-item">
        <img  src="/assets/images/Carpintaria-geral/IMG_1178.JPG" class="d-block w-100" loading="eager" alt="Chão moderno">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev" onclick="event.stopPropagation();">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Slide anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next" onclick="event.stopPropagation();">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo slide</span>
    </button>

  </div>
</div>
